# Ignore node_modules
client/node_modules/
server/node_modules/

node_modules/
dist/

# Ignore build/dist folders
client/dist/
server/dist/

# Ignore environment variables
*.env

# Others
.DS_Store
*.log
